

cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke-width: 2px;
}

.cls-1, .cls-3 {
    stroke: #232b58;
}

.cls-1, .cls-3, .cls-6 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1, .cls-4, .cls-6 {
    fill: none;
}

.cls-7 {
    fill: #232b58;
}

.cls-8 {
    fill: #3340FF;
}

.cls-2, .cls-9 {
    fill: #242959;
}

.cls-2, .cls-4, .cls-5 {
    stroke: #242d57;
    stroke-miterlimit: 10;
}

.cls-10, .cls-5 {
    fill: #FCCBB5;
}

.cls-3, .cls-11 {
    fill: #fff;
}

.cls-12 {
    fill: #1e2747;
}

.cls-13 {
    fill: #ebeef6;
}

.cls-14 {
    fill: #242d57;
}

.cls-11 {
    font-family: Poppins-SemiBold, Poppins;
    font-size: 9.91px;
}

.cls-15 {
    clip-path: url(#clippath);
}

.cls-16 {
    fill: #fab631;
}

.cls-17 {
    fill: #232c57;
}

.cls-6 {
    stroke: #fff;
    stroke-width: 3px;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

#cog {
  animation: rotate 6s infinite;
   transform-origin: 50% 50%;
   transform-box: fill-box;
   filter: drop-shadow( 3px 3px 2px rgba(41, 52, 204, .20));
}

#eye-left {
  transform: scaleY(0);
  animation: blink 5s linear reverse infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
}

#eye-right {
  transform: scaleY(0);
  animation: blink 5s linear reverse infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
}

#speech-bubble {
  animation: MoveUpDown 5s linear infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
   filter: drop-shadow( 3px 3px 2px rgba(41, 52, 204, .20));
}

#cup .cls-1 {
    stroke-dasharray: 100;
    stroke-dashoffset: 800;
    animation: dash 3s linear reverse infinite;
    position: absolute;
}

/* Animations */

@keyframes rotate{
  from{
     transform: rotate(0deg);}to{
     transform: rotate(360deg);
  }
}

@keyframes blink {

  0% {
    transform: scaleY(1);
  }
  2% {
    transform: scaleY(0);
  }
  4% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}